include ./partials/navbar.pug
h1 Hello World

if user
    h2 #{user.name}
    br
    hr
    a(href="/addFile") Add a file? 

    br
    div(class="fileTree")
        ul
            li
                if rootFolder
                    span(class="rootFolder") Folder: &quot;#{rootFolder.name}&quot; - id: #{rootFolder.id}
                    ul
                        if subFolders
                            each folder in subFolders
                                li
                                    span(class="subFolder") Folder: &quot;#{folder.name}&quot; - id: #{folder.id}
                                    if folder.files
                                        each file in folder.files
                                            li
                                                span(class="subFolderFiles") File &quot;#{file.fileName}&quot; - id: #{file.id} 
                        if files
                            each file in files
                                li
                                    span(class="files") File: &quot;#{file.fileName}&quot; - id: #{file.id}
