include ./partials/navbar.pug
h1 Hello World

if user
    h2 #{user.name}

    br
    div(class="fileTree")
        ul
            li
                if rootFolder
                    span(class="rootFolder") Folder: &quot;#{rootFolder.name}&quot; - id: #{rootFolder.id}
                    ul
                        if subFolder
                            each folder in subFolder
                                li
                                    span Folder: "#{folder.name}" - id: #{folder.id}
                        if files
                            each file in files
                                li
                                    span(class="files") File: "#{file.fileName}" - id: #{file.id}
